.list-item {
    cursor: pointer;
    user-select: none;
  }
  h1 {
    color: rgb(255, 136, 0);
 }
  .check {
    text-decoration: line-through;
  }
  
  .wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .lists-task {
    padding: 0;
  }